.container {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 36px;
}

.title {
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #45505a;
  margin: 0;
}

.subtitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #45505a;
  margin: 8px 0 24px;
}

.inputFields,
.passwordContent {
  display: grid;
  grid-template-columns: repeat(2, 280px);
  gap: 0px 18px;
}

.password {
  grid-column: span 2;
}

.generatePasswordBtn {
  text-align: center;
  width: fit-content;
  padding-left: 0;
  font-weight: 600;
}

.inputIcon {
  margin-right: 4px;
}

.agreementItem:not(:last-child) {
  margin-bottom: 0;
}

.agreementItem :global(.ant-form-item-control-input) {
  min-height: 19px;
}

.submit {
  display: block;
  margin: 0 auto;
  min-width: 297px;
}

.footnote {
  margin: 24px 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #45505a;
}
